#stage canvas {
  margin: 0 auto;
}

div#stats {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  scale: 0.8;
  transform-origin: right top;
  width: max(100px, 10vw, 10vh);
  height: max(100px, 6vh, 6vw);
  opacity: 0.8;
  user-select: none;
}
